version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "08:00"
      timezone: "Asia/Tokyo"
    labels:
      - "dependencies"
    open-pull-requests-limit: 10
    allow:
      - dependency-type: "all"
