{
    "presets": [
        ["@babel/preset-env", {
            "exclude": [
                "transform-regenerator"
            ]
        }]
    ],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "lodash-es": "lodash"
            }
        }],
        "add-module-exports"
    ]
}
