{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    ["replace-import-extension", {
      "extMapping": { ".mjs": ".js" }
    }]
  ],
  "assumptions": {
    "constantReexports": true,
    "noIncompleteNsImportDetection": true
  },
  "env": {
    "test": {
      "sourceMaps": "inline"
    }
  }
}
