{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    ["replace-import-extension", {
      "extMapping": { ".mjs": ".js" }
    }]
  ],
  "assumptions": {
    "constantReexports": true,
    "noIncompleteNsImportDetection": true
  },
  "env": {
    "test": {
      "sourceMaps": "inline"
    }
  }
}
