name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: write

jobs:
  test:
    name: Test & Coverage
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.actor != 'dependabot[bot]')

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: yarn --frozen-lockfile
      - run: yarn build:lib
        env:
          NODE_ENV: test

      - run: yarn test

      - uses: codecov/codecov-action@v2
        with:
          flags: unittests

  browser_test:
    name: Browser Test
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'

    steps:
      - id: check
        uses: shogo82148/actions-check-permissions@v1
      - name: Check permissions
        if: steps.check.outputs.permission != 'write'
        run: exit 1

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - uses: saucelabs/sauce-connect-action@v1
        with:
          username: ${{ secrets.SAUCE_USERNAME }}
          accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
          tunnelIdentifier: github-action-tunnel

      - name: Install dependencies
        run: yarn --frozen-lockfile
      - run: yarn build:browser
      - run: yarn docs

      - name: Start Server
        run: |
          yarn setup-test-browser
          sleep 5
      - run: yarn test-browser
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
